<nav>
    <a href="users/signup">|Signup|</a>
    <a href="users/login">|Login|</a>
    <a href="users/logout">|Logout|</a>
</nav>

<h1>Welcome!</h1>
<br>
<a href="/users/signup"><h2>Click to Sign Up!</h2></a>
<a href="/users/login"><h2>Click to Login!</h2></a>