<h1>Welcome! Please Log In</h1>

<form method="POST" action="login" id="login" name="login">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>