<nav>
    <a href="signup">|Signup|</a>
    <a href="profile">|Profile|</a>
    <a href="login">|Login|</a>
    <a href="logout">|Logout|</a>
    <a href="admin">|Admin|</a>
</nav>

<h1>Please Create A Post</h1>

<form method="POST" action="newPost" id="newPost" name="newPost">
    <div>
        <label for="postTitle">Title:</label><br>
        <input type="text" id="postTitle" name="postTitle" />
    </div>
    <div>
        <label for="postBody">Details:</label><br>
        <textarea type="text" id="postBody" name="postBody"></textarea>
    </div>
    <div>
        <button type="submit">Add Post!</button>
    </div>
</form>